{{#> layout title="Congratulations - Bid Accepted"}}
    <h2>Your Bid Has Been Accepted! 🎉</h2>
    
    <p>Hello {{companyName}},</p>
    
    <p>We are pleased to inform you that your bid has been accepted for the following purchase request:</p>
    
    <div class="message-box">
        <p><span class="text-large">PR #{{prNumber}}</span></p>
        <p>{{prTitle}}</p>
        <p>Bid Amount: <span class="highlight">{{bidAmount}} {{currency}}</span></p>
        <p>Award Date: <span class="highlight">{{awardDate}}</span></p>
    </div>

    <div class="message-box">
        <p class="text-large">Next Steps:</p>
        <ol>
            <li>Review and sign the contract documents</li>
            <li>Submit any required additional documentation</li>
            <li>Attend the kick-off meeting (if applicable)</li>
            <li>Begin project execution according to the agreed timeline</li>
        </ol>
    </div>
    
    <p>Please review and complete the necessary documentation by clicking the button below:</p>
    
    <a href="{{contractUrl}}" class="button">View Contract Details</a>
    
    <div class="message-box">
        <p class="text-large">Important Dates:</p>
        <p>Contract Signing Deadline: <span class="highlight">{{contractDeadline}}</span></p>
        <p>Project Start Date: {{projectStartDate}}</p>
        <p>Expected Completion: {{completionDate}}</p>
    </div>
    
    <p>A procurement officer will contact you shortly to guide you through the next steps of the process.</p>
    
    <p class="text-small">Note: Failure to complete the required documentation by the deadline may result in the award being revoked.</p>
{{/layout}}
