{{#> layout title="Purchase Request Cancelled"}}
    <h2>Purchase Request Cancellation Notice</h2>
    
    <p>Hello {{recipientName}},</p>
    
    <p>This is to inform you that the following purchase request has been cancelled:</p>
    
    <div class="message-box">
        <p><span class="text-large">PR #{{prNumber}}</span></p>
        <p>{{prTitle}}</p>
        <p>Cancellation date: <span class="highlight">{{cancellationDate}}</span></p>
    </div>

    {{#if cancellationReason}}
    <div class="message-box">
        <p class="text-large">Reason for Cancellation:</p>
        <p>{{cancellationReason}}</p>
    </div>
    {{/if}}

    {{#if isSupplier}}
    <p>We appreciate your interest in this purchase request and encourage you to participate in future opportunities. Any submitted bids will not be considered further.</p>
    {{/if}}

    {{#if isAgent}}
    <p>All activities related to this purchase request should cease immediately. Any ongoing evaluations or approvals are no longer required.</p>
    {{/if}}
    
    <div class="message-box">
        <p class="text-large">Next Steps:</p>
        <ul>
            {{#if isSupplier}}
            <li>Any submitted documentation will be archived</li>
            <li>You may continue to view other active purchase requests</li>
            <li>You will be notified of similar future opportunities</li>
            {{/if}}
            {{#if isAgent}}
            <li>All related documents will be archived</li>
            <li>Please update any related internal records</li>
            <li>Contact your supervisor if you have any questions</li>
            {{/if}}
        </ul>
    </div>
    
    <a href="{{dashboardUrl}}" class="button">View Dashboard</a>
    
    <p class="text-small">If you have any questions about this cancellation, please contact the procurement team.</p>
{{/layout}}
