{{#> layout title="Purchase Request Due Date Reminder"}}
    <h2>Purchase Request Due Date Reminder</h2>
    
    <p>Hello {{recipientName}},</p>
    
    <p>This is a reminder about an upcoming due date for the following purchase request:</p>
    
    <div class="message-box">
        <p><span class="text-large">PR #{{prNumber}}</span></p>
        <p>{{prTitle}}</p>
        <p>Due date: <span class="highlight">{{dueDate}}</span></p>
        <p>Time remaining: <span class="highlight">{{timeRemaining}}</span></p>
    </div>

    {{#if isSupplier}}
    <p>Please ensure your bid is submitted before the deadline. Late submissions may not be considered.</p>
    {{/if}}
    
    <a href="{{prUrl}}" class="button">View Purchase Request</a>
    
    <div class="message-box">
        <p class="text-large">Status Overview:</p>
        <p>Current stage: {{currentStage}}</p>
        {{#if pendingTasks}}
        <p>Pending tasks:</p>
        <ul>
            {{#each pendingTasks}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
    
    <p class="text-small">If you need an extension, please contact the procurement team as soon as possible.</p>
{{/layout}}
