{{#> layout title="Invitation to Submit Bid"}}
    <h2>New Purchase Request Bid Invitation</h2>
    
    <p>Hello {{supplierName}},</p>
    
    <p>You are invited to submit a bid for the following purchase request:</p>
    
    <div class="message-box">
        <p><span class="text-large">PR #{{prNumber}}</span></p>
        <p>{{prTitle}}</p>
        <p>Due date: <span class="highlight">{{dueDate}}</span></p>
    </div>

    <p>Please review the purchase request details and submit your bid before the due date. Your participation in this bidding process is highly valued.</p>
    
    <a href="{{bidUrl}}" class="button">Submit Your Bid</a>
    
    <div class="message-box">
        <p class="text-large">Important Information:</p>
        <ul>
            <li>Ensure all required documentation is included with your bid</li>
            <li>You can't submit a bid after the due date</li>
        </ul>
    </div>
    
    <p class="text-small">If you have any questions about the bidding process or requirements, please contact our procurement team.</p>
{{/layout}}
