{{#> layout title="Purchase Request Assignment"}}
    <h2>You've Been Added to a Purchase Request</h2>
    
    <p>Hello {{agentName}},</p>
    
    <p>You have been assigned to participate in the following purchase request:</p>
    
    <div class="message-box">
        <p><span class="text-large">PR #{{prNumber}}</span></p>
        <p>{{prTitle}}</p>
        <p>Due date: <span class="highlight">{{dueDate}}</span></p>
        <p>Your role: <span class="highlight">{{role}}</span></p>
    </div>

    <p>As a participant in this purchase request, you will be responsible for:</p>
    <ul>
        <li>Reviewing submitted bids</li>
        <li>Providing feedback when required</li>
        <li>Participating in the evaluation process</li>
    </ul>
    
    <a href="{{prUrl}}" class="button">View Purchase Request</a>
    
    <div class="message-box">
        <p class="text-large">Key Dates:</p>
        <p>Bid submission deadline: {{bidDeadline}}</p>
        <p>Evaluation period: {{evaluationPeriod}}</p>
    </div>
    
    <p class="text-small">If you have any questions about your role or responsibilities, please contact your supervisor.</p>
{{/layout}}
