{{#> layout title="Demande d'achat annulée"}}
    <h1 class="text-large highlight">Demande d'achat annulée</h1>
    <p>Bonjour {{supplierName}},</p>

    <p>Cette demande d'achat a été annulée :</p>

    <div class="message-box">
        <p><span class="text-large">PR #{{prNumber}}</span></p>
        <p>{{prTitle}}</p>
        <p>Date d'annulation : <span class="highlight">{{cancellationDate}}</span></p>
    </div>

    {{#if cancellationReason}}
    <div class="message-box">
        <p class="text-large">Raison de l'annulation :</p>
        <p>{{cancellationReason}}</p>
    </div>
    {{/if}}

    {{#if isSupplier}}
    <p>Nous apprécions votre intérêt à cette demande d'achat et encourageons votre participation à d'autres opportunités.</p>
    {{/if}}

    {{#if isAgent}}
    <p>Toutes les activités liées à cette demande d'achat doivent être arrêtées immédiatement.</p>
    {{/if}}

    <div class="message-box">
        <p class="text-large">Étapes suivantes :</p>
        <ul>
            {{#if isSupplier}}
            <li>Toutes les documents soumis seront archivés</li>
            <li>Vous pouvez continuer à consulter d'autres demandes d'achat actives</li>
            <li>Vous recevrez des notifications pour d'autres opportunités futures</li>
            {{/if}}
            {{#if isAgent}}
            <li>Tous les documents liés seront archivés</li>
            <li>Veuillez mettre à jour toutes les données internes liées</li>
            <li>Contactez votre supérieur si vous avez des questions</li>
            {{/if}}
        </ul>
    </div>

    <a href="{{dashboardUrl}}" class="button">Consulter le tableau de bord</a>
    
    <p class="text-small">Si vous avez des questions sur cette annulation, veuillez contacter l'équipe de la gestion des achats.</p>
{{/layout}}
